<html>
    <head>
        <title>Emoji Api</title>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/styles/default.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/highlight.min.js"></script>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </head>
<body>
    <div class="container">
        <h2>Usage</h2>
        Example POST request to the register route
        <pre><code class="php">
            POST https://naijaemoji.herokuapp.com/register
            Request body:
            {
                'username' : 'johndoe',
                'password' : 'password'
            }
            </code></pre>
            The response to the following request includes the message,
            the response status code and some other data.

            On successful registration, the following json response will be returned

        <pre>
            <code class="php">
                Response body:
                {
                'username'  : 'johndoe',
                'password'  : 'someEncryptedString',
                'message'   : 'Registration succesful'
                }
            </code>
        </pre>


        <span>
            Example POST request to the login route
        </span>

        <pre>
            <code class="php">
                POST https://naijaemoji.herokuapp.com/auth/login

                Request Body:
                {
                    'username' : 'johndoe',
                    'password' : 'password',
                }
            </code>
        </pre>
        <span>
            Upon successful login, a Json object is return containing the
            status code, the token generated, the token expiry and the success
            message. A response header containing the 'Authorization' token is
            is also set. This token is required, as an 'Authorization' header
            to access all protected routes.
        </span>

        <pre>
            <code class="php">
                Response Body:
                {
                    'token'  : 'SomeRandomToken',
                    'message' : 'token expiry set'
                }
            </code>
        </pre>

        <span>
            GET request to the logout route
        </span>

        <pre>
            <code class="php">
                GET https://naijaemoji.herokuapp.com/auth/logout

                Request Body:
                {
                    'token' : 'SomeRandomToken'
                }
            </code>
        </pre>

        <span>
            Upon successful fulfil of request, the token is unset and a json
            object returned containing the message.

            <pre>
                <code class="php">
                    Response Body:
                    
                    {
                        'status':  200,
                        'message': 'token unset'
                    }
                </code>
            </pre>
        </span>

    </div>
</body>
</html>